// Color Scheme
$color-base: black;
$color-primary: #1b212c;
$color-secondary: #2d3749;
$color-accent: #319a96;
$color-white: #fff;
$color-gray--light: #f0f2f5;
$color-gray--dark: rgba(0, 0, 0, 0.05);
